@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 5em;
}

.App .background {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1515162305285-0293e4767cc2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80)
      no-repeat,
    #c4c4c4;
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.App .center-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 900px) {
  .App {
    position: relative;
    width: 100%;
    min-height: 100vh;

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
  }

  .App .center-container {
    margin-left: 10em;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  font-size: 46px;
}

.date {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.vers {
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
}

.content {
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
}
